body {
	background-color: #333333;
	font-family: Geneva, Tahoma, sans-serif; /*Main font, fallback fonts.*/
	margin: 0;
	padding: 0;
	display: flex; /*This makes everything sorta flexible.*/
	flex-direction: column;
	min-height: 100vh;
}
header {
	background-color: #212121;
	padding: 10px;
	text-align: center;
}
h1 {
	font-family: 'Times New Roman', serif; /*Font, fallback font.*/
	text-indent: 69px;
}
a {
	color: #00B4B4;
}
p { 
	font-family: Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
	font-size: larger;
	color: #FF5733;
	text-indent: 35px;
}
dl { 
	font-family: Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
	font-size: larger;
	color: #FF5733;
	text-indent: 35px;
}
dt { 
	font-family: Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
	font-size: larger;
	color: #FF5733;
	text-indent: 35px;
}
.intro {
	font-size:xx-large;
	flex: 1;
}
.stuff {
	color: #7B68EE;
	flex: 1;
}
footer {
	background-color: #212121;
	text-align: center;
	padding: 10px;
}
