@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #e6e6ff;
}

form {
    width: 60%;
    margin: auto;
    padding: 20px;
    background-color: #ccccff;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

fieldset {
    border: none;
    margin-bottom: 20px;
    background-color: #9999ff;
    border-radius: 15px;
    padding: 20px;
}

legend {
    color: #330066;
    font-size: 1.2em;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"], input[type="password"], input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

input[type="submit"], input[type="reset"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #330066;
    color: white;
    cursor: pointer;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}

input[type="submit"]:hover, input[type="reset"]:hover {
    background-color: #6600cc;
    box-shadow: none;
}
